---
Astro.response.status = 404;
import HEAD from '../components/BaseHead.astro';
---

<html lang="ja">
  <HEAD title="404 Not Found" />
  <body class="bg-slate-900">
    <h1 class="text-green-400 text-9xl text-center mt-10">404</h1>
    <p class="text-green-400 text-2xl text-center mt-2">ページが見つかりません</p>
    <div class="text-center mt-5">
      <a href="/" class="inline-block text-black bg-green-400 p-2 rounded-full w-40 hover:bg-gray-400 transition-colors duration-300">ホームに戻る</a>
    </div>
  </body>
</html>